*
{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Times New Roman', Times, serif;
}

.container
{
    display: grid;

    background-color: #fff;

    grid-template-columns: repeat(2, 1fr);
}

.container > div
{
    padding: 1em;

    text-align: justify;

    color: #000;
    background-color: #fff;
}

.container .date
{
    font-size: 13px;

    color: #bd1a1a;
}

.container .auther
{
    font-size: 15px;
    font-weight: bold;

    color: #8e8c8c;
}
